absl-py==0.12.0
actionlib==1.13.2
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
angles==1.9.13
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
blessings==1.7
bondpy==1.8.6
cachetools==4.2.2
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
controller-manager==0.19.5
controller-manager-msgs==0.19.5
cv-bridge==1.15.0
cycler==0.10.0
decorator==4.4.2
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
dotmap==1.3.23
dynamic-reconfigure==1.7.1
filelock==3.0.12
freetype-py==2.2.0
fsspec==2021.4.0
future==0.18.2
fvcore==0.1.5.post20210423
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
google-api-core==1.26.3
google-auth==1.30.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.37.0
h5py==3.2.1
hiredis==2.0.0
idna==2.10
image-geometry==1.15.0
imageio==2.9.0
imgaug==0.4.0
interactive-markers==1.12.0
iopath==0.1.8
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
jsonschema==3.2.0
kiwisolver==1.3.1
laser-geometry==1.6.7
Markdown==3.3.4
matplotlib==3.4.1
message-filters==1.15.13
msgpack==1.0.2
multidict==5.1.0
networkx==2.5.1
numpy==1.20.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
packaging==20.9
pandas==1.2.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
portalocker==2.3.0
prometheus-client==0.10.1
prompt-toolkit==3.0.7
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.6.0
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.16
Pygments==2.7.1
PyOpenGL==3.1.0
pyparsing==2.4.7
pyrender==0.1.45
pyrsistent==0.17.3
python-dateutil==2.8.1
python-qt-binding==0.4.4
pytorch-lightning==1.2.10
pytorch3d==0.3.0
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.3.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-app==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
ray==1.3.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rosbag==1.15.13
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.15.13
roslaunch==1.15.13
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.13
rosmake==1.15.8
rosmaster==1.15.13
rosmsg==1.15.13
rosnode==1.15.13
rosparam==1.15.13
rospy==1.15.13
rosservice==1.15.13
rostest==1.15.13
rostopic==1.15.13
rosunit==1.15.8
roswtf==1.15.13
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.2
rqt-py-console==0.4.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.2
rqt-top==0.4.10
rqt-topic==0.4.12
rqt-web==0.4.10
rsa==4.7.2
rviz==1.14.10
scikit-image==0.18.1
scipy==1.6.3
sensor-msgs==1.13.1
Shapely==1.7.1
six==1.15.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
termcolor==1.1.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tifffile==2021.4.8
topic-tools==1.15.13
torch==1.8.1
torchgeometry==0.1.2
torchmetrics==0.2.0
torchvision==0.9.1
tqdm==4.60.0
traitlets==5.0.4
transforms3d==0.3.1
trimesh==3.9.15
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
xacro==1.14.10
yacs==0.1.8
yarl==1.6.3
